@charset "UTF-8";

/*********
 * Menus *
 *********/

accelerator {
	opacity: 0.5;
	margin-left: 10px;
}

menubar,
.menubar {
	padding: 0px;
	box-shadow: none;
	border-style: none;
	background-color: gtk("@theme_header_background");

	&:backdrop {
		background-color: gtk("@theme_header_background_backdrop");
	}

	> item {
		min-height: 18px;
		padding: 5px 10px;
		@if $new-highlight {
			border-bottom: 3px solid transparent;
		}

		&:hover {
			//Seems like it :hover even with keyboard focus
			@if $new-highlight {
				background-color: gtkalpha(
					gtk("@theme_button_decoration_focus"),
					0.3
				);
				color: gtk("@theme_button_foreground_active");
				border-bottom: 3px
					solid
					gtk("@theme_button_decoration_focus");
			} @else {
				background-color: gtk(
					"@theme_button_decoration_focus"
				);
				color: gtk("@theme_button_foreground_active");
			}
		}

		&:disabled {
			color: gtk("@insensitive_fg_color");
			box-shadow: none;

			&:backdrop {
				background-color: gtk("@theme_unfocused_bg_color");
				color: gtk("@insensitive_unfocused_fg_color");
			}
		}

		&:backdrop {
			background-color: gtk("@theme_unfocused_bg_color");
			color: gtk("@theme_unfocused_fg_color");
		}
	}
}

popover, popover.background {
	background-color: transparent;

	contents, > arrow {
		padding: 4px;
		background-color: gtkmix(gtk("@theme_bg_color"), gtk("@theme_base_color"), 0.3);
		border: 1px solid gtk("@borders");
		border-radius: $r * 2;
	}

	// axes borders in a composited env
	separator {
		color: gtk("@borders");
		margin: 3px 0;
	}

	modelbutton {
		text-shadow: none;
		min-height: 18px;
		min-width: 40px;
		padding: 3px 8px;
		border: 1px solid transparent;

		@if $new-highlight {
			border: 1px solid transparent;
			margin: 4px;
		}

		accelerator {
			color: gtkalpha(currentColor, 0.55);
		}
		check,
		radio {
			&:dir(ltr) {
				margin-right: 6px;
			}
			&:dir(rtl) {
				margin-left: 6px;
			}
		}
		
		arrow.left {
			-gtk-icon-source: -gtk-icontheme($arrow_left);
		}

		arrow.right {
			-gtk-icon-source: -gtk-icontheme($arrow_right);
		}

		&:hover {
			background-color: gtkalpha(gtk("@theme_selected_bg_color"), 0.3);
			border: 1px solid gtk("@theme_button_decoration_focus");
			border-radius: 3px;
		}

		&:disabled {
			color: gtk("@insensitive_fg_color");

			&:backdrop {
				color: gtk("@insensitive_unfocused_fg_color");
			}
		}

		&:backdrop,
		&:backdrop:hover {
			color: gtk("@theme_unfocused_fg_color");
			background-color: gtk("@theme_unfocused_bg_color");
		}
	}
}

GtkVolumeButton.button {
	padding: 5px;
}
